:root
{
  --header-footer-color: #0a0a23; 
  --vertical-background-blues: #6dd5ed 0%,white 50%; 
  --nav-background-colors:  #6dd5ed,#2193b0;
  --darkblue-light-blue-mix:  #000428, #004e92;
  --regular-blue-box-color: #004e92;

  --light-blue-mix: #6dd5ed;
  --cool-blue-mix: #2193b0;
  --endless-river: #43cea2, #185a9d;
  --antarctica-color: 45deg, #D8B5FF, #1EAE98;
  --antarctica-color-nodeg: #D8B5FF, #1EAE98;
  --celestial-color: 45deg, #c33764, #1d2671;
  --eternal-constance-color: #09203f, #537895;
  --quepal-color: 170deg, #11998e, #38ef7d;
  --quepal-color-no-deg:#11998e, #38ef7d;
  --lush-color: 45deg, #56ab2f,#a8e063;
  --green-beach-color: #02aabd, #00cdac;
  --cosmic-universe-color: #FF00CC, #333399;
  --azure-pop-color: #EF32D9, #89FFFD; 

  --nav-shop-title-color: #ed4264, #ffedbc;
  --page-width: 1000px; 
  --main-content-width: calc(var(--page-width) - 240px);
  --button-color: #FFC72C;
  /* --button-color: 45deg, #11998e, #38ef7d; */
  /* --button-color:#11998e; */
}

.side-button
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 80px;
  background-color: white;
  color: var(--regular-blue-box-color); 
  border-radius: 10px;
  border: 1px solid var(--regular-blue-box-color);
  font-size: 20px;
}

.side-button:hover
{
  border: 2px solid var(--regular-blue-box-color);
}

*
{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: cambria; 
  
}

@media (prefers-reduced-motion: no-preference)
{
  *
  {
    scroll-behavior: smooth; 
  }
}

.main-container
{
  display: grid; 
  height: 100vh; 
  width: 100%; 
  position: relative; 
  top: 0; 
  left: 0;  
}

.top-box
{
  display: grid;
  height: 180px; 
  width: 100%; 
  position: relative; 
  top: 0; 
  left: 0; 
  background-color: var(--header-footer-color); 
  display: grid; 
  justify-content: center; 
  align-items: end;
  /* border: 1px solid yellow;  */
}

.top-page-header
{
    position: relative;
    top: 0; 
    display: grid;
    height: 135px;
    width: var(--page-width); 
    justify-content: start;
    align-items: start;
    /* border: 1px solid white; */
}

[class^="top-page-item"]
{
  display: grid;
  position: relative; 
}

.top-page-item-1
{
 height: 35px; 
 width: inherit; 
 grid-template-columns: repeat(2, 500px);
 justify-content: start;
 align-items: start;
 /* border: 1px solid white; */
}

.top-menu-inside-1
{
  display: grid; 
  justify-content: start;
  align-items: start;
  position: relative;
  grid-area: 1/1/1/2;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  height: inherit;
  top: 0; 
  left: 0; 
  color: white;
}

.top-menu-inside-1 > a
{
  color: white;
  height: 33px;
  width: 124px; 
  border-right: 1px solid white;
  text-decoration: none;
}

.top-menu-inside-1 > a:hover
{
  background-color: #2c3e50;
 
}

.top-menu-inside-1-1
{
  display: grid;
  grid-area: 1/1/1/2;
  height: inherit;
 
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

.top-menu-inside-1-2
{
  display: grid;
  grid-area: 1/2/1/3;
  height: inherit;

  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

.top-menu-inside-1-3
{
  display: grid;
  grid-area: 1/3/1/4;
  height: inherit;

  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

.top-menu-inside-1-4
{
  display: grid;
  grid-area: 1/4/1/-1;
  height: inherit;

  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

.top-menu-inside-2
{
  display: grid; 
  position: relative;
  grid-area: 1/2/1/2;
  grid-template-columns: repeat(4, 125px);
  height: inherit;
  top: 0; 
  left: 0; 
  /* border: 1px solid white; */
}

.top-page-item-2
{
  display: grid;
  height: 100px; 
  width: inherit; 
  grid-template-columns: repeat(3, 333px);
  grid-template-rows: 100px;
  justify-content: start;
  align-items: start;
  /* border: 1px solid white; */
}

.logo-attach > a
{
  color: white;
  height: inherit;
  width: inherit; 
  border-left: 1px solid white;
  text-decoration: none;
}

.logo-attach
{
  display: grid;
  grid-area: 1/1/1/2;
  height: inherit;
  width: 333px;
  
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* border: 1px solid white; */
}

.side-middle
{
  display: grid;
  grid-area: 1/2/1/3;
  height: 100%;
  width: 333px;
  
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  /* border: 1px solid white; */
}

.side-end
{
  display: grid;
  grid-area: 1/3/1/4;
  height: 100%;
  width: 333px;
  
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  /* border: 1px solid white; */
}


/* .top-page-item-3
{
  
} */


.logo-box
{
    display: grid;
    justify-content: start;
    align-items: start;
    height: calc(150px - 45px);
    width: inherit /*800px*/;
    border: 1px solid white;
    position: relative;
}

.inside-logo-box-1
{
    /* border: 1px solid skyblue; */
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 302px; 
    grid-area: 1/1/1/2;
    position: relative;
    top: 0;
}

.inside-logo-box-2
{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 698px; 
    /* border: 1px solid red; */
    color: white;
    grid-area: 1/2/1/2;
    position: relative;
    top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 50px;
    column-gap: 10px;
    /* grid-auto-columns: 100px;
    grid-auto-rows: 25px;
    grid-auto-flow: row; */
    
}

.first-item
{
  display: grid; 
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  height: 35px; 
  font-weight: bold;
  color: white;
}

.first-item:hover
{
  background-color: #141e30;
}

.logo-text
{
    color: white; 
    text-shadow: 5px 3px darkgreen;
    font-weight: 800;
    font-size: 30px;
    font-family: cambria;
    text-transform: capitalize;
    padding-left: 10px;
    padding-right: 10px;
}

.middle-box /*affects content-box*/
{
  position: relative; 
  top: 0; 
  left: 0; 
  height: 1900px; 
  width: 100%; 
  background-color: white;
  display: grid; 
}

.footer-box
{
  height: 200px; 
  width: 100%; 
  position: relative; 
  bottom: 0; 
  left: 0; 
  background-color: var(--header-footer-color); 
  display: grid; 
  justify-content: center; 
  align-items: center; 
}

.footer-container
{
  display: grid;
  position: relative;
  height: 120px;
  left: 100px;
  width: var(--main-content-width); 
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 250px;
  column-gap: 5px;
  /* border: 1px solid white; */
}

[class^="footer-item"]
{
  display: grid; 
  justify-content: start;
  align-items: start;
  width: 250px;
  /* border: 1px solid white; */
}

.footer-item-1
{
  height: 80px;
}

.footer-item-2
{
  height: 80px;
}

.footer-item-3
{
  height: 120px;
}

.footer-item-4
{
  height: 80px;
}

[class^="footer-inside"]
{
  display: grid;
  position: relative;
  top: 0; 
  height: 20px;
  width: inherit;
  padding: 0 0 0 20px;
  font-size: 15px;
  justify-content: start;
  align-items: center;
  color: white; 
  
}

.footer-inside-box-1
{
  display: grid;
  position: relative;
  width: inherit;
  /* border-bottom: 1px solid white; */
  justify-content: start;
  align-items: center;
  color: white;
  padding: 0 0 0 20px; 
  font-size: 16px;
}

.color-white
{
  color: white; 
  text-decoration: none;
}

[class^="footer-inside"] > a:hover
{
  text-decoration: underline;
  width: inherit;
}

.back-to-top-box
{
  height: 30px; 
  width: 100%; 
  display: grid; 
  justify-content: center; 
  align-items: center;
  background-color: #141e30; 
  position: absolute; 
  bottom: 0;
  color: white; 
}

.back-to-top-box-a
{
  height: 30px; 
  width: 100%; 
  position: absolute;
  bottom: 0; 
}

a > .back-to-top-box:hover 
{
  background-color: #2c3e50; 
}

.background-box
{
  height: 1200px; 
  width: 100%; 
  position: relative; 
  top: 0;  
  background: linear-gradient(
  var(--vertical-background-blues)
  );
}

.nav-bar
{
  display: flex; 
  justify-content: center;
  position: relative;
  margin: 0 auto; 
  height: 45px; 
  width: var(--page-width); 
  background: linear-gradient(
    var(--nav-background-colors)
  );
 
 
  
}

.nav-container
{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: inherit;
  width: 100%; 
  color: white; 
  font-weight: 800; 
  font-size: 18px;
  text-transform: uppercase; 
  /* border: 1px solid white; */
}

.right-space
{
  margin-right: 3px; 
}

.no-underline
{
  text-decoration: none; 
}

.black-color
{
  color: black;
}

.grey-color
{
  color: grey; 
}

.nav-home
{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 45px; 
  width: 160px; 
  padding: 1px;  
  color: white; 
}

.nav-home:hover
{
  color: white; 
  border-radius: 2px;
  background-color: #2193b0;
}

.nav-about
{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 45px; 
  width: 160px; 
  
  color: white; 
}

.nav-about:hover
{
  color: white;  
  border-radius: 2px; 
  background-color: #2193b0;
}

.nav-ship-info
{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 45px; 
  width: 160px; 
  
  color: white; 
}

.nav-ship-info:hover
{
  color: white; 
  background-color: #2193b0; 
  border-radius: 2px; 
 
}

.nav-affiliates 
{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 45px;
  width: 160px; 
 
  color: white; 
}

.nav-affiliates:hover
{
  color: white; 
  background-color: #2193b0; 
  border-radius: 2px;
}

.nav-useful-links
{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 45px; 
  width: 160px;  
  color: white; 
}

.nav-useful-links:hover
{
  color: white; 
  background-color: #2193b0; 
  border-radius: 2px;
  
}

.nav-contact
{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 45px; 
  width: 160px; 

  color: white; 

}

.nav-contact:hover
{
  color: white; 
  background-color: #2193b0; 
  border-radius: 2px;
}

.icon-box
{
  height: 35px; 
  width: var(--page-width); 
  position: relative; 
  margin: 0 auto; 
  background-color: #6dd5ed; 
  box-shadow: 0 3px 3px black;
  display: grid; 
  justify-content: start;
  align-items: center;
  font-weight: bold;
  grid-template-columns: repeat(2, 500px);
  /* border-top: 1px dashed black; */
}

.icon-container-sponsors
{
  grid-area: 1/1/1/2;
  height: inherit; 
  width: var(--page-width); 
  /* border: 1px soid red; */
  display: grid; 
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: 35px;
  justify-content: space-evenly;
  /* padding-left: 35px; */
  align-items: center; 
}

.sponsor-text
{
  font-size: 28px;
  font-family: lucida sans;
}

[class^="icon-item"]
{
  display: grid; 
  height: 33px; 
}

.icon-item-1
{
  grid-area: 1/1/1/1; 
}

.icon-item-2
{
  grid-area: 1/2/1/2; 
}

.icon-item-3
{
  grid-area: 1/3/1/3; 
}

.icon-item-4
{
  grid-area: 1/4/1/4; 
}

.icon-item-5
{
  grid-area: 1/5/1/5; 
}

.icon-item-6
{
  grid-area: 1/6/1/6; 
}

.icon-item-7
{
  grid-area: 1/7/1/7; 
}

.icon-container-social
{
  grid-area: 1/2/1/3;
  height: inherit; 
  width: 500px; 
  /* border: 1px soid red; */
  display: grid; 
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: 35px;
  justify-content: end;
  align-items: center; 
  padding-right: 15px; 
}

.content-box
{
  position: relative; 
  height: inherit; /*middle box affects this*/
  width: var(--page-width); 
  background-color: white; 
  margin: 0 auto; 
  top: 5px; 
}

.aside-bar
{
  display: inline-block; 
  position: relative; 
  height: 1200px; 
  width: 180px; 
  top: 35px;
  left: 20px; 
  /* border: 1px solid green; */
  border-radius: 10px 10px 0 0; 
}

.aside-container
{
  position: sticky; 
  top: 15px; 
  left: 0; 
  height: 611px;
  border-bottom: 1px solid black; 
  border-right: 1px solid black; 
  border-left: 1px solid black; 
  border-radius: 9px 9px 0 0; 
}

.shop-title
{
  position: relative; 
  top: 0; 
  left: 0; 
  height: 50px; 
  width: 100%;
  border-radius: 9px 9px 0 0; 
  background: linear-gradient(
  var(--nav-background-colors)
  );
  /* background-color: var(--regular-blue-box-color); */
  border-top: 1px solid black; 
  border-bottom: 1px solid black; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-weight: bold; 
  color: white; 
  font-size: 20px; 
}

.category-section
{
  position: relative; 
  display: grid; 
  justify-content: start; 
  align-items: start;
  top: 0; 
  height: 300px; 
  width: inherit;
  border-bottom: 1px solid black; 
}

.category-text
{
  font-weight: bold; 
  font-size: 18px;
  text-transform: capitalize; 
  padding-top: 10px; 
  padding-left: 10px; 
  padding-right: 10px; 
  color: black;
}

.sub-category
{
  padding-left: 20px; 
  padding-right: 10px; 
  padding-bottom: 0;
  text-transform: capitalize; 

  font-size: 15px; 
}

.sub-category > a
{
    color: #0a0a23; 
    text-decoration: none; 
    font-family: sans-serif;
}

.sub-category > a:hover
{
    color: purple; 
    text-decoration: underline; 
}

.main-content-box /*height change affects page*/
{
  display: inline-block; 
  position: absolute; 
  top: 85px; 
  left: 220px; 
  height: calc(.middle-box{height} - 100px); 
  width: calc(var(--page-width) - 240px); /*760 is the width*/
  border-radius: 10px 10px 0 0;
  background-color: white; 
}

.banner-tag 
{
  display: grid; 
  position: absolute;
  top: 20px;
  left: 220px; 
  justify-content: center; 
  
}

.customer-trust-grid
{
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center; 
  align-items: start; 
  position: relative; 
  height: 120px; 
  width: 100%;
  border-radius: 9px 9px 0 0; 
  column-gap: 15px; 
  row-gap: 15px; 
}

.ctb-1
{
  display: grid; 
  height: inherit;
  /* width: 177px; */
  border-radius: 0 0 0 0;
  border-right: 1px solid grey;
}

.ctb-inside-1
{
  position: relative; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 40px; 
  display: grid; 
  justify-content: center; 
  align-items: end; 
  text-transform: uppercase;
  font-weight: bold; 
  font-size: 20px; 
  font-family: sans-serif;
  text-decoration: underline; 
  border-radius: 7px 0 0 0;
  
}

.ctb-inside-2
{
  position: relative; 
  top: 10px; 
  left: 0; 
  width: 100%; 
  height: 65px; /*get the text closer up to free shipping*/ 
  display: grid; 
  justify-content: center; 
  align-items: start; 
  text-transform: uppercase;
  font-weight: normal; 
  font-size: 15px; 
  font-family: sans-serif;
  text-decoration: none;
  text-align: start; 
  padding-left: 20px; 
  padding-right: 15px;
}

.ctb-2
{
  display: grid; 
  height: inherit; /*height is actually 120px*/
  border-right: 1px solid gray;
 
}

.ctb2-inside-1
{
  position: relative; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 38px; 
  display: grid; 
  justify-content: center; 
  align-items: end; 
  text-transform: uppercase;
  font-weight: bold; 
  font-size: 16px; 
  font-family: sans-serif;
  text-decoration: underline; 
  border-radius: 0 0 0 0;

  
}

.ctb2-inside-2 /*google review box */
{
  position: relative; 
  top: 0; 
  left: 0; 
  width: 100%; /*176 width*/ 
  height: 33px; /*get the text closer up to free shipping*/ 
  display: grid; 
  justify-content: center; 
  align-items: center;
 
}

.ctb2-inside-3
{
  position: relative; 
  top: 0; 
  left: 0; 
  width: 100%; /*176 width*/ 
  height: 49px; /*get the text closer up to free shipping*/ 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-content: center; 
  align-items: start;
  gap: 10px;  
}

.ctb2-inside-3-1 /*credit card*/
{
  display: grid;
  height: 47px;
  grid-area: 1/1/1/1;
  justify-content: end;
  align-items: center;
  background-color: white;
}

.ctb2-inside-3-2 /*shopping cart*/
{
  display: grid;
  justify-content: start;
  align-items: center;
  height: 47px;
  grid-area: 1/2/1/2;
  background-color: white;
}

.star-container
{
  width: 86px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17px, 1fr));
  grid-template-rows: 19px;
  position: relative;
  z-index: 1;
}

[class^="star-item"]
{
  display: grid;
  position: relative;
  height: 17px;
  width: 17px;
}

.google-reviews
{
  display: grid; 
  justify-content: center;
  grid-area: 2/1/2/6; 

  text-transform: uppercase;
  font-style: italic;
  font-weight: bold; 
  font-size: 9px; 
  font-family: sans-serif;
  text-decoration: none;
}

.ctb-3
{
  display: grid; 
  height: inherit;
  border-right: 1px solid gray;
  border-radius: 0 0 0 0;
}

.ctb3-inside-1
{
  position: relative; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 38px; 
  display: grid; 
  justify-content: center; 
  align-items: end; 
  text-transform: uppercase;
  font-weight: bold; 
  font-size: 17px; 
  font-family: sans-serif;
  text-decoration: underline; 
  border-radius: 0 0 0 0;
}

.ctb3-inside-2
{
  position: relative; 
  top: 10px; 
  left: 0; 
  width: 100%; 
  height: 65px; /*get the text closer up to free shipping*/ 
  display: grid; 
  justify-content: center; 
  align-items: start; 
  text-transform: uppercase;
  font-weight: normal; 
  font-size: 14px; 
  font-family: sans-serif;
  text-decoration: none;
}

 /* .header-image-grid
{
  display: grid; 
  justify-content: center; 
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  position: relative;
  top: 15px; 
  height: 200px; 
  width: 560px; 
  border: 1px solid black; 
  gap: 10px;
}

.image-1
{
  display: grid; 
  position: relative; 
  top: 0; 
  left: 0; 
  height: inherit; 200px
  width: 1fr; 270px
  border: 1px solid black; 
}

.image-2
{
  display: grid; 
  position: relative; 
  top: 0; 
  left: 0; 
  height: inherit; 200px
  width: 1fr; 270px
  border: 1px solid black; 
}
*/

.content-header
{
  
  position: relative;
  height: 10em;
  width: 760px;  
  /* border-radius: 20px 20px 0 0; */
  /* background: linear-gradient(
    45deg,
    #D8B5FF,
    #1EAE98
  ); */
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
  grid-template-rows: repeat(2, 5em);
}

[class^="content-header-item"]
{
  display: grid;
  position: relative;
  height: 100%; 
  width: 100%;
}

.content-header-item-1,
.content-header-item-3,
.content-header-item-5,
.content-header-item-7,
.content-header-item-9,
.content-header-item-11,
.content-header-item-13,
.content-header-item-15
{
  background: linear-gradient(
    var(--antarctica-color)
  );
}

/* .content-header-item-1,
.content-header-item-3,
.content-header-item-5,
.content-header-item-7,
.content-header-item-9,
.content-header-item-11,
.content-header-item-13,
.content-header-item-15
{
  background: linear-gradient(
    45deg,
    #a9f1df,
    #ffbbbb
  );
} */

/* .content-header-item-2,
.content-header-item-4,
.content-header-item-6,
.content-header-item-8,
.content-header-item-10,
.content-header-item-12,
.content-header-item-14
{
  background: linear-gradient(
    45deg,
    #D8B5FF,
    #1EAE98
  );
} */

.content-image
{
  height: 100%;
  width: 100%;
  /* background: linear-gradient(
  45deg,
  #ff512f,
  #dd2476
  
  ); */
  background-color: inherit;
  /* border-radius: 20px 20px 0 0; */
}

.grid-item-img-cover
{
    min-height: 120px;
    height: 100%;
    min-width: 250px; 
    width: 100%; 
    object-fit: cover;
    border-top: 1px solid black;
}

.grid-item-img-contain
{
    min-height: 128px;
    height: 100%;
    min-width: 199px; 
    width: 100%; 
    object-fit: contain;
    /* border-top: 1px solid black; */
}

.image-content
{
    width: 248px;
    height: 130px; 
    position: absolute;
    background-color: #F2F3F2;
    display: grid; 
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s; 
    color: black;
    font-size: 18px; 
    font-weight: bold; 

}

.image-content:hover
{
    opacity: 0.8;
}

.image-content > p 
{
    opacity: 0;
    margin-top: 40px; 
    padding: 10px;
    border: 1px solid black;
}


.image-content:hover > p
{
    opacity: 1;
    transform: translateY(-20px);
    transition: 0.6s;
    
}

.essential-grid
{
  display: grid; 
  height: 200px;   
  width: var(--main-content-width); 
  position: relative; 
  margin: 10px auto 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--main-content-width) / 3 - 13px), 1fr));
  grid-template-rows: repeat(7, 50px 131px 131px 131px 131px 131px 50px);
  grid-auto-flow: row; 
  grid-auto-rows: 100px; 
  gap: 10px; 
}

[class^="grid-item"]
{
  display: grid; 
  position: relative; 
  /* border: 1px solid black;  */
  justify-content: center; 
  align-items: center; 
  color: white; 
  font-weight: 800; 
  font-size: 18px; 
  font-family: cambria; 
  background-color: white; 
}

.grid-item-1
{
  /* background-color: var(--regular-blue-box-color); */
  background-color: var(--regular-blue-box-color);
  border-bottom: 2px solid black;
  grid-area: 1/1/1/4;
  font-size: 20px; 
  /* text-transform: capitalize; */
  color: white; 
  
}

.grid-item-2
{
  display: grid;
  grid-template-columns: 248px 512px;
  grid-template-rows: 131px;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: 2/1/2/-1; 
}

.grid-item-2 > a
{
    height: 130px;
    width: 100%; 
}

.grid-item-2-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2; 
}

.square-container
{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;

}

.square-inside-white
{
    display: grid;
    height: calc(85px - 35px);
    width: calc(85px - 35px);
    position: relative;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.square-box
{
    display: grid;
    height: calc(60px - 35px);
    width: calc(60px - 35px);
    position: relative;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.pop-box
{
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 1px; 
  left: 1px; 
  height: 25px; 
  width: 130px; 
  border-radius: 0 0 10px 0;
  background-color: navy;
  outline: 1px solid black;
  color: white;
  z-index: 1;
  font-style: italic;
}

.grid-item-2-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey; 
  
}

.grid-item-2-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.text-a 
{
  color: black; 
}

.text-a:hover
{
  color: purple;
  text-decoration: underline;
}

.grid-item-2-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.grid-item-3
{
  grid-area: 3/1/3/-1; 
  display: grid;
  grid-template-columns: 248px 512px;
  grid-template-rows: 131px;
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-item-3 > a
{
    height: 130px;
    width: 100%; 
}

.grid-item-3-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
  
}

.grid-item-3-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.grid-item-3-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.grid-item-3-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.grid-item-4
{
 grid-area: 4/1/4/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
  align-items: center;
}

.grid-item-4 > a
{
    height: 130px;
    width: 100%; 
}

.grid-item-4-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.grid-item-4-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.grid-item-4-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.grid-item-4-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.grid-item-5
{
 grid-area: 5/1/5/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
  align-items: center;
}

.grid-item-5 > a
{
    height: 130px;
    width: 100%; 
}

.grid-item-5-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.grid-item-5-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.grid-item-5-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.grid-item-5-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.grid-item-6
{
 grid-area: 6/1/6/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
  align-items: center;
}

.grid-item-6 > a
{
    height: 130px;
    width: 100%; 
}

.grid-item-6-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.grid-item-6-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.grid-item-6-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.grid-item-6-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.grid-item-11
{
  grid-area: 7/3/7/4; 
  color: grey; 
  border: none; 
  justify-content: end;
  align-items: center;
  font-size: 18px;
  /* border: 1px solid black; */
}

.grid-last-text
{
  display: grid; 
  justify-content: center;
  align-items: center;
  position: relative; 
  height: 50px;
  width: 170px; 
  font-size: 18px;
  border: none;
}

.grid-last-text > a:hover
{
  color: purple;
  text-decoration: underline purple; 
  background-color: white;
  
}

.play3-icon
{
  display: grid;
  height: 18px; 
  vertical-align: center; 
  grid-area: 1/2/1/2;
  border: none;
  
}

.equipment-grid
{
  display: grid; 
  height: calc(100px + 130px + 130px + 40px);   
  width: var(--main-content-width); 
  position: relative; 
  margin: 200px auto 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--main-content-width) / 3 - 10px), 1fr));
  grid-template-rows: repeat(5, 50px 130px 130px 50px);
  grid-auto-flow: row; 
  grid-auto-rows: 100px; 
  gap: 10px; 
}

[class^="equip-item"]
{
  display: grid; 
  position: relative; 
  border: 1px solid black; 
  justify-content: center; 
  align-items: center; 
  color: white; 
  font-weight: 800; 
  font-size: 18px; 
  font-family: cambria; 
  background-color: white; 
}

.equip-item-1
{
  background: linear-gradient(45deg, var(--darkblue-light-blue-mix));
  grid-area: 1/1/1/4;
  font-size: 20px; 
  text-transform: capitalize;
  color: white; 
}

.equip-item-1:hover
{
  background: linear-gradient(45deg, var(--darkblue-light-blue-mix));
  font-size: 20px; 
  color: white; 
}

.equip-item-2
{
  grid-area: 2/1/2/2; 
}

.equip-item-2 > a
{
    height: 130px;
    width: 100%; 
}

.equip-item-2:hover
{
    background-color: grey;
    color: white; 
    display: grid; 
    justify-content: center;
    align-items: center;
}

.equip-item-3
{ 
  grid-area: 2/2/2/3; 
}

.equip-item-3 > a
{
    height: 130px;
    width: 100%; 
}

.equip-item-4
{
  grid-area: 2/3/2/-1; 
}

.equip-item-4 > a
{
    height: 130px;
    width: 100%; 
}

.equip-item-5
{
  grid-area: 3/1/3/1; 
}

.equip-item-5 > a
{
    height: 130px;
    width: 100%; 
}

.equip-item-6
{
 grid-area: 3/2/3/2; 
}

.equip-item-6 > a
{
    height: 130px;
    width: 100%; 
}

.equip-item-7
{
 grid-area: 3/3/3/3; 
}

.equip-item-7 > a
{
    height: 130px;
    width: 100%; 
}

.equip-item-8
{
  grid-area: 4/2/4/4; 
  color: grey; 
  justify-content: end;
  font-size: 18px;
  border: none;
  display: grid; 
  height: 50px;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: inherit; 
  justify-content: end;
}

.equip-last-text
{
  display: grid; 
  justify-content: center;
  align-items: center;
  position: relative; 
  height: inherit;
  width: 170px; 
  font-size: 18px;

}

.equip-last-text > a:hover
{
  color: purple;
  text-decoration: underline purple; 
  background-color: white;
  
}

.featured-product
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 250px; 
  width: 760px; 
  border: 1px solid black;
  position: relative;
  top: 100px; 
  background: linear-gradient(
    45deg,
    #56ab2f,
    #a8e063
  );
  font-weight: bold;
  font-size: 25px;
}

.header-image-size
{
  position: absolute;
  height: inherit;
  width: 100%; 
  object-fit: cover;
}

.content-header2
{
  top: 165px; 
  position: relative;
  height: 10em;
  width: 760px;  
  /* border-radius: 20px 20px 0 0; */
  /* background: linear-gradient(
    45deg,
    #D8B5FF,
    #1EAE98
  ); */
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
  grid-template-rows: repeat(2, 5em);
}

[class^="content-header2-item"]
{
  display: grid;
  position: relative;
  height: 100%; 
  width: 100%;
}

.content-header2-item-2,
.content-header2-item-4,
.content-header2-item-6,
.content-header2-item-8,
.content-header2-item-10,
.content-header2-item-12,
.content-header2-item-14,
.content-header2-item-16
{
  background: linear-gradient(
    var(--eternal-constance-color)
    /* 50deg,
    white, 
    brown */
  );
}

.header-image-grid
{
  display: grid; 
  position: relative;
  height: 175px; 
  width: 760px;
  border: 1px solid black;
  justify-content: center;
  align-items: start;
  font-size: 30px;
  /* background-color: maroon; */
  background: repeating-radial-gradient( 
  235px circle at top left,
  var(--darkblue-light-blue-mix) 
  );
  /* background: repeating-radial-gradient( 
  155px circle at top left,
  maroon,
  brown 
  ); */
  /* background: repeating-radial-gradient( 
    145px circle at top left,
    #8241b8, 
    #6c33a3 
    ); */

  grid-template-rows: 175px 125px;
  color: black; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-content-1
{
  display: grid;
  position: relative; 
  justify-content: center;
  align-items: center;
  top: 0; 
  grid-area: 1/1/1/-1;
  /* border: 1px solid white; */
  height: 175px; 
  width: inherit; 
  color: inherit;
  font-size: 55px;
  font-family: inherit;
  z-index: 2;
}

.green-header-text 
{
  color: white; 
  font-size: 50px;
  font-style: normal;
  font-family: impact;
  text-shadow: 5px 2px black;
  text-align: center;
  /* border-bottom: 3px solid white;
  border-radius: 0 0 10px 10px;
  height: 70px;  */
  /* width: 680px; */
}

.featured-product-container
{
  position: relative;
  height: calc(130 * 3 + 50); 
  width: 760px; 
  /* border: 1px solid black; */
  top: 150px; 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 50px 131px 131px 130px;
  column-gap: 10px;
  row-gap: 10px;
}

[class^='featured-product']
{
  display: grid;
  position: relative;
  /* border: 1px solid black; */
  justify-content: center;
  font-size: 18px; 
}

.featured-product-1
{
  grid-area: 1/1/1/-1;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--regular-blue-box-color);
  text-transform: capitalize;
  color: white; 
  border-bottom: 2px solid black;
}

.featured-product-2
{
  display: grid;
  grid-template-columns: 248px 511px;
  grid-template-rows: 130px;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: 2/1/2/-1; 
}

.featured-product-2 > a
{
    height: 130px;
    width: 100%; 
}

.featured-product-2-inside-1
{
  display: grid;
  height: 129px;
  width: 248px;
  grid-area: 1/1/1/2;
  top: 0; 
}

.featured-product-2-inside-2
{
  display: grid; 
  justify-content: start;
  height: 128px;
  width: 100%;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
  /* border-right: 1px solid black; */
  padding-top: 0;  
  /* border: 1px solid black; */
}

.featured-product-2-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 127px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
  /* border: 1px solid black; */
}

.featured-product-2-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 127px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
  /* border: 1px solid black; */
}

.featured-product-3
{
  grid-area: 3/1/3/-1; 
  display: grid;
  grid-template-columns: 248px 512px;
  grid-template-rows: 131px;
  justify-content: flex-start;
  align-items: flex-start;
}

.featured-product-3 > a
{
    height: 130px;
    width: 100%; 
}

.featured-product-3-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
  /* border: 1px solid black; */
}

.featured-product-3-inside-2
{
  display: grid; 
  justify-content: start;
  height: 128px;
  width: 510px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
  /* border: 1px solid black; */
}

.featured-product-3-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 127px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
  /* border: 1px solid black; */
}

.featured-product-3-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 127px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
  /* border: 1px solid black; */
}

.featured-product-4
{
 grid-area: 4/1/4/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
 align-items: center;
}

.featured-product-4 > a
{
    height: 130px;
    width: 100%; 
}

.featured-product-4-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.featured-product-4-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  width: 510px; 
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
  /* border: 1px solid black; */
}

.featured-product-4-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 127px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
  /* border: 1px solid black; */
}

.featured-product-4-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 127px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
  /* border: 1px solid black; */
}

.featured-product-img-cover
{
    min-height: 120px;
    height: 100%;
    min-width: 250px; 
    width: 100%; 
    object-fit: cover;
    border-top: 1px solid grey;
}

.featured-product-img-contain
{
    min-height: 128px;
    height: 100%;
    min-width: 199px; 
    width: 100%; 
    object-fit: contain;
    border-top: 1px solid grey;
}

.graybubble
{
  height: inherit; 
  width: 100%;
  background: repeating-radial-gradient(
    100px circle at top left, 
    tan,
    brown
  );
}

.text-a 
{
  color: black; 
}

.text-a:hover
{
  color: purple;
  text-decoration: underline;
}

.product-item-2-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.product-item-3
{
  grid-area: 3/1/3/-1; 
  display: grid;
  grid-template-columns: 248px 512px;
  grid-template-rows: 131px;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-item-3 > a
{
    height: 130px;
    width: 100%; 
}

.product-item-3-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
  
}

.product-item-3-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.product-item-3-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.product-item-3-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.product-item-4
{
 grid-area: 4/1/4/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
  align-items: center;
}

.product-item-4 > a
{
    height: 130px;
    width: 100%; 
}

.product-item-4-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.product-item-4-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.product-item-4-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.product-item-4-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.product-item-5
{
 grid-area: 5/1/5/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
  align-items: center;
}

.product-item-5 > a
{
    height: 130px;
    width: 100%; 
}

.product-item-5-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.product-item-5-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.product-item-5-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.product-item-5-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.product-item-6
{
 grid-area: 6/1/6/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
  align-items: center;
}

.product-item-6 > a
{
    height: 130px;
    width: 100%; 
}

.product-item-6-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.product-item-6-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.product-item-6-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.product-item-6-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.product-item-11
{
  grid-area: 7/3/7/4; 
  color: grey; 
  border: none; 
  justify-content: end;
  align-items: center;
  font-size: 18px;
  /* border: 1px solid black; */
}

.product-last-text
{
  display: grid; 
  justify-content: center;
  align-items: center;
  position: relative; 
  height: 50px;
  width: 170px; 
  font-size: 18px;
  border: none;
}

.product-last-text > a:hover
{
  color: purple;
  text-decoration: underline purple; 
  background-color: white;
  
}

.play3-icon
{
  display: grid;
  height: 18px; 
  vertical-align: center; 
  grid-area: 1/2/1/2;
  border: none;
  
}

.more-grid
{
  display: grid; 
  height: calc(393px + 50px);   
  width: var(--main-content-width); 
  position: relative; 
  margin: 0px auto 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--main-content-width) / 3 - 13px), 1fr));
  grid-template-rows: repeat(4, 50px 131px 131px 131px);
  grid-auto-flow: row; 
  grid-auto-rows: 100px; 
  gap: 10px; 
}

[class^="more-item"]
{
  display: grid; 
  position: relative; 
  /* border: 1px solid black;  */
  justify-content: center; 
  align-items: center; 
  color: white; 
  font-weight: 800; 
  font-size: 18px; 
  font-family: cambria; 
  background-color: white; 
}

.more-item-1
{
  /* background-color: var(--regular-blue-box-color); */
  background-color: var(--regular-blue-box-color);
  border-bottom: 2px solid black;
  grid-area: 1/1/1/4;
  font-size: 20px; 
  text-transform: capitalize;
  color: white; 
  
}

.more-item-2
{
  display: grid;
  grid-template-columns: 248px 512px;
  grid-template-rows: 131px;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: 2/1/2/-1; 
}

.more-item-2 > a
{
    height: 130px;
    width: 100%; 
}

.more-item-2-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.pop-box
{
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 1px; 
  left: 1px; 
  height: 25px; 
  width: 130px; 
  border-radius: 0 0 10px 0;
  background-color: navy;
  outline: 1px solid black;
  color: white;
  z-index: 1;
  font-style: italic;
}

.more-item-2-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey; 
  
}

.more-item-2-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.text-a:hover
{
  color: purple;
  text-decoration: underline;
}

.more-item-2-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.more-item-3
{
  grid-area: 3/1/3/-1; 
  display: grid;
  grid-template-columns: 248px 512px;
  grid-template-rows: 131px;
  justify-content: flex-start;
  align-items: flex-start;
}

.more-item-3 > a
{
    height: 130px;
    width: 100%; 
}

.more-item-3-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
  
}

.more-item-3-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.more-item-3-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.more-item-3-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.more-item-4
{
 grid-area: 4/1/4/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
  align-items: center;
}

.more-item-4 > a
{
    height: 130px;
    width: 100%; 
}

.more-item-4-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.more-item-4-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.more-item-4-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.more-item-4-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.more-item-5
{
 grid-area: 5/1/5/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
  align-items: center;
}

.more-item-5 > a
{
    height: 130px;
    width: 100%; 
}

.more-item-5-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.more-item-5-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.more-item-5-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.more-item-5-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.more-item-6
{
 grid-area: 6/1/6/-1; 
 display: grid;
 grid-template-columns: 248px 512px;
 grid-template-rows: 130px;
 justify-content: start;
  align-items: center;
}

.more-item-6 > a
{
    height: 130px;
    width: 100%; 
}

.more-item-6-inside-1
{
  display: grid;
  height: 130px;
  width: 248px;
  grid-area: 1/1/1/2;
}

.more-item-6-inside-2
{
  display: grid; 
  justify-content: start;
  height: 130px;
  background-color: white;
  grid-area: 1/2/1/-1;
  color: black;
  border-top: 1px solid grey;
}

.more-item-6-inside-2-1
{
  display: grid;
  justify-content: start;
  align-items: start;
  height: 118px; 
  width: 390px;
  
  padding: 10px 10px 0 20px;
  color: black;
  grid-area: 1/1/1/2;
  font-weight: normal;
}

.more-item-6-inside-2-2
{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 118px; 
  width: 97px; 
  grid-area: 1/2/1/3;
  color: black; 
}

.more-item-11
{
  grid-area: 7/3/7/4; 
  color: grey; 
  border: none; 
  justify-content: end;
  align-items: center;
  font-size: 18px;
  /* border: 1px solid black; */
}

.structure-image
{
  width: 248px;
  height: 130px;
  /* background-color:#F5F5F5; */
  /* background: repeating-linear-gradient(
    145deg,
    lightgrey,
    white,
    lightgrey,
    white
  ); */
  background-color: #F5F5F5;
  display: grid;
  justify-content: center;
  align-items: center;
}

.structure-image-2
{
  width: 244px;
  height: 286px;
  background: repeating-linear-gradient(
    var(--quepal-color-no-deg)
  );
  display: grid;
  justify-content: center;
  align-items: center;
}

.structure-image-shopify
{
  /* background: repeating-linear-gradient(
    var(--quepal-color-no-deg)
  ); */
  /* background: repeating-linear-gradient(
  var(--quepal-color-no-deg)

  )  */

  background-color:#F5F5F5;
}

.structure-image-bluehost
{
  /* background: repeating-linear-gradient(
  360deg,  
  var(--nav-background-colors)
  ); */
  /* background-color: lightgrey;
  /* background: repeating-linear-gradient(
  var(--quepal-color-no-deg)

  )  */

  background-color:#F5F5F5;
}

.structure-image-godaddy
{
  /* background: repeating-linear-gradient(
  0deg,
  var(--nav-shop-title-color)
  ); */

  /* background: repeating-linear-gradient(
    0deg,
    var(--quepal-color-no-deg)
  ); */
  /* background: repeating-linear-gradient(
  var(--quepal-color-no-deg)

  )  */

  background-color:#F5F5F5;
}

.image-heading
{
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: var(--main-content-width);
  top: 0px;
  /* border-bottom: 1px solid black; */
}

.website-banner
{
    display: grid;
    position: relative;
    height: 450px; 
    width: var(--main-content-width); 
    top: 10px; 
    left: 0px; 
    /* border-bottom: 1px solid black; */
    border-top: 1px solid black;
    /* border-radius: 5px; */
    justify-content: center;
    align-items: center;
    background-color: white; /*#F0F0F0*/
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: 450px;
}

[class^="website-banner-item"]
{
    display: grid;
    position: relative;
}

.website-banner-item-1
{
    grid-area: 1/1/1/2;
    background-color: white;
    
    width: 100%; 
    color: black; 
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding-left: 20px; 
    /* border-right: 2px solid gray; */
}

.website-banner-item-2
{
    grid-area: 1/2/1/2;
    background-color: white;
    width: 100%; 
    color: black; 
    font-size: 22px;
    font-weight: normal;
    justify-content: start;
    align-items: center;
    padding-left: 60px; 
}


.product-banner
{
    display: grid;
    position: relative;
    height: 350px; 
    width: 760px;
    border: 1px solid black;
    margin-top: 50px;
    background-color: black;
    border-radius: 10px;
    color: white; 
    font-size: 30px;
    font-weight: bold;
    grid-template-rows: repeat(2, 175px);
    grid-template-columns: 730px;
}

[class^="product-banner-item"]
{
    display: grid;
    position: relative;
}

.product-banner-item-1
{
    grid-area: 1/1/1/-1;
    justify-content: center;
    align-items: end;
    padding: 0 70px 0 120px;
}

.product-banner-item-2
{
    grid-area: 2/1/2/-1;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
}

.action-button
{
    display: inline-block;
    height: 65px; 
    width: 225px;
    font-size: 25px;
    font-weight: bold;
    /* background: repeating-linear-gradient(
    270deg,
    #1EAE98,
    #004e92
    ); */
    /* background-color: darkgreen; */
    background: repeating-linear-gradient(
        270deg,
        var(--cosmic-universe-color)
    );
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    color: white;
}

.top-head-promo
{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px; 
    width: var(--page-width);
    background: repeating-linear-gradient(
        145deg,
        var(--antarctica-color-nodeg)
    );
    /* background-color: lightgrey; */
    font-weight: bold;
    font-size: 18px;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    color: black; 
}

.last-updated
{
  display: inline-block;
  position: absolute;
  top: 58px;
  left: 25px;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.header-title
{
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
    height: 50px;
    width: 760px;
    background-color: var(--regular-blue-box-color);
    border-bottom: 2px solid black;
    top: 10px; 
}

.cta-title
{
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
    height: 50px;
    width: 760px;
    background-color: var(--regular-blue-box-color);
    border-bottom: 3px solid black;
    top: 10px; 
}

.description-box
{
    display: grid;
    justify-content: start;
    align-items: start;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
    height: 500px;
    width: 760px;   
    margin-bottom: 20px;
    top: 10px;
    /* border: 1px solid black; */
    padding: 20px 20px 20px 20px; 
}

.description-box-2
{
    display: grid;
    justify-content: start;
    align-items: start;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
    height: 333px;
    width: 760px;   
    margin-bottom: 10px;
    top: 0px;
    /* border: 1px solid black; */
    padding: 30px 20px 20px 20px; 
}

.cta-button
{
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid var(--regular-blue-box-color);
  border-radius: 5px;
  color: var(--regular-blue-box-color);
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

.cta-button-2
{
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: var(--regular-blue-box-color);
  border: 2px solid var(--regular-blue-box-color);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

.about-us
{
  position: relative; 
  display: grid; 
  justify-content: start; 
  align-items: start;
  top: 0; 
  height: 155px; 
  width: inherit;
  border-bottom: 1px solid black;
}

.social-media
{
  position: relative; 
  display: grid; 
  justify-content: start; 
  align-items: start;
  top: 0; 
  height: 105px; 
  width: inherit;
  /* border: 1px solid black; */
  
}

.category-text-social
{
  font-weight: bold; 
  font-size: 18px;
  text-transform: capitalize; 
  padding-top: 10px; 
  padding-left: 10px; 
  padding-right: 10px; 
  /* padding-bottom: 5px; */
  color: black;
}

.sub-category-social
{
  padding-left: 20px; 
  /* padding-right: 10px; 
  padding-bottom: 0; */
  /* text-transform: capitalize; 
  font-size: 15px;  */
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

#color
{
  fill: var(--regular-blue-box-color);
}

#icon-color
{
  fill: black;
}

#logo-color
{
  fill: darkred;
}

#logo-color-2
{
  fill:var(--regular-blue-box-color);
}

#logo-color-3
{
  fill:var(--regular-blue-box-color);
}